<div class="container">
  <div style="display: flex; justify-content: space-between; margin-bottom: 30px;">
    <h2>People</h2>
    <button class="btn btn-sm btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/people/create']"><i class="fa fa-plus" aria-hidden="true"></i> Add Person</button>
  </div>
  <hr>
  <div class="tablePeople">
    <h2>Legal People</h2>
    <table class="table table-sm table-striped">
      <thead>
        <th>Id</th>
        <th>Address Id</th>
        <th>Qualifier</th>
        <th>CNPJ</th>
        <th>Corporate Name</th>
        <th>Fantasy Name</th>
        <th>Type</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let legalPerson of legalPeople">
          <td>{{legalPerson.id}}</td>
          <td>{{legalPerson.addressId}}</td>
          <td>{{legalPerson.qualifier}}</td>
          <td>{{legalPerson.cnpj.value}}</td>
          <td>{{legalPerson.corporateName}}</td>
          <td>{{legalPerson.fantasyName}}</td>
          <td>{{legalPerson.type}}</td>
          <td style="display: flex; justify-content: space-evenly;">
            <button class="btn" (click)="deleteLegalPerson(legalPerson.id)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button class="btn" [routerLink]="['/people/edit', 2, legalPerson.id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <hr>
  
  <div class="tablePeople">
    <h2>Physical People</h2>
    <table class="table table-sm table-striped">
      <thead>
        <th>Id</th>
        <th>Address Id</th>
        <th>Qualifier</th>
        <th>CPF</th>
        <th>Name</th>
        <th>Nick Name</th>
        <th>Type</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let physicalPerson of physicalPeople">
          <td>{{physicalPerson.id}}</td>
          <td>{{physicalPerson.addressId}}</td>
          <td>{{physicalPerson.qualifier}}</td>
          <td>{{physicalPerson.cpf.value}}</td>
          <td>{{physicalPerson.name}}</td>
          <td>{{physicalPerson.nickName}}</td>
          <td>{{physicalPerson.type}}</td>
          <td style="display: flex; justify-content: space-evenly;">
            <button class="btn" (click)="deletePhysicalPerson(physicalPerson.id)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button class="btn" [routerLink]="['/people/edit', 1, physicalPerson.id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>