<div class="container">
  <div style="display: flex; justify-content: space-between;">
    <h2>Departments</h2>
    <button class="btn btn-sm btn-primary" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/departments/create']"><i class="fa fa-plus" aria-hidden="true"></i> Add Department</button>
  </div>
  <table class="table table-sm table-striped">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{department.id}}</td>
        <td>{{department.name}}</td>
        <td style="display: flex; justify-content: space-evenly;">
          <button class="btn" (click)="deleteDepartment(department.id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>